.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ecca3;
}
.play-btn {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 2rem;
  color: #4ecca3;
  background-color: #393e46;
  border: 2px solid #4ecca3;
  padding: 5px 20px;
  box-shadow: 2px 2px #4ecca3;
  border-radius: 5px;
}

.play-btn:hover {
  box-shadow: 4px 4px white;
  border-color: white;
  color: white;
}

.play-btn:focus {
  box-shadow: 2px 2px white;
  transform: translate(3px, 3px);
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

a {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: cursive;
  font-size: 1.2rem;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
